<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pear.yellowthird.activitys">


    <!--
    largeHeap="true"
    在日常的Android开发中，我们必然遇到过OutOfMemoryError这样的崩溃，产生的原因无外乎两点，一是内存过小不够用，二是程序设计有误
    对于本身对内存要求过大的图片或者视频应用，我们可以使用largeHeap。
    妈比，总是内存溢出奔溃，加大到可用的最大内存
    -->

    <!-- -->
    <application
        android:largeHeap="true"
        android:name="com.pear.android.app.GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--https://www.jianshu.com/p/68a4e8132fcd-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.pear.yellowthird.activitys.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!--这里要不根据横竖屏变动 重新创建活动。否则会崩溃-->
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".FullImagePageActivity"
            android:theme="@style/FullScreenTheme">
        </activity>
        <activity android:name=".FullVideoActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".BillActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
        </activity>

        <activity android:name=".RechargeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
        </activity>

        <activity android:name=".published.PublishedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            >
        </activity>

        <activity android:name=".published.ChooseCataloguePicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />

        <activity android:name=".published.ChooseImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />

        <!--程序自动更新-->
        <receiver
            android:name="com.chengtao.autoupdate.receiver.NetworkReceiver"
            android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.chengtao.autoupdate.service.ACTION_UPDATE"/>
            </intent-filter>
        </receiver>
        <service android:name="com.chengtao.autoupdate.service.DownloadService" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--保持屏幕常亮用到-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>